@keyframes adobexd {
    0%{
    }

    50%{
        background: linear-gradient(to right,#7e7e7e,#7e7e7e 3rem,transparent 1rem,transparent 100%);

    }
  100%{
    background: linear-gradient(to right,#7e7e7e,#7e7e7e 6rem,transparent 3rem,transparent 100%);
  }
}
@keyframes css {
    0%{
    }

    50%{
        background: linear-gradient(to right,#7e7e7e,#7e7e7e 3rem,transparent 1rem,transparent 100%);

    }
  100%{
    background: linear-gradient(to right,#7e7e7e,#7e7e7e 9rem,transparent 9rem,transparent 100%);
  }
}
@keyframes html {
    0%{
    }

    50%{
        background: linear-gradient(to right,#7e7e7e,#7e7e7e 3rem,transparent 1rem,transparent 100%);

    }
  100%{
    background: linear-gradient(to right,#7e7e7e,#7e7e7e 9rem,transparent 9rem,transparent 100%);
  }
}
@keyframes bar {
    0%{
    }

    50%{
        background: linear-gradient(to right,#7e7e7e,#7e7e7e 3rem,transparent 1rem,transparent 100%);

    }
  100%{
    background: linear-gradient(to right,#7e7e7e,#7e7e7e 6rem,transparent 3rem,transparent 100%);
  }
}





/* *********************************** */
#back{
    margin: 5% 25%;
    width: 100vh;
    height: 80vh;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;

}

#back >h1{
    margin-top: 15%;
    word-spacing: 20px;
    font-family: sans-serif;
    font-size: 8vh;
}

#back >img{
    width: 40vh;
    height: auto;
    margin-top: 5%;
}


/* UP CODE FOR WORKING PAGE  */
/* DOWN CODE FOR MYRESUME PAGE */

#header{
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    border: 2px solid;
    width: 100%;
    height: 9vh;
}

#header > a {
    color: #fff;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 1vh;
    margin-left: 61px;
}
.maincontent{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: center;
}
#hitext{
    padding: 1vw 0  0  2vw ;
    margin-top: 2vh;
    /* border: 1px solid; */
    /* width: 100%; */
    /* height: 93px; */
}

#hitext > p{
    font-size: 3vw;
    font-weight: bold;
}
img{
    border: 5px solid; 
    border-radius: 50%;
}
#profile{
    margin-top: 2vh;
    width: 186px;
    height: 186px;
    /* background-color: black; */
    border-radius: 50%;
}
.line{
    margin-top: 4vh;
    margin-bottom: 3vh;
    width: 100;
    height: 1mm;
    background-color: black;
}
.aboutme{
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
}
.textme{
    /* border: 1px solid; */
    text-align: left;
    direction: ltr;
}
.boxs{
    display: flex;
    flex-direction: row-reverse;
}
.box1{
    margin: 2%;
    width: 17vw;
    height: 12vh;
    border: 1px solid;
}
.box3{
    position: absolute;
    margin: 2%;
    top: 120%;
    right: 107%;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.box2{
    position: relative;
    margin: 2%;
    width: 17vw;
    height: 12vh;
    border: 1px solid;
}
#more{
    color: #000;
    position: absolute;
    top: 150%;
    right: 18%;
    font-size: 3vw;
}
.textme >p{
    line-height: 130%;
    text-align: center;
    font-size: 2vw;
}
.skills{
    /* position: absolute; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: left;
    font-size: 2vw;
    direction: ltr;
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: bold;   
    
}
.axbar{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 12%;
    /* bottom: 3%; */
        border: 1px solid ;
    /* border-radius: 35%; */
    animation: adobexd 2s normal;
    animation-fill-mode: forwards;
}
#adt{
    position: absolute;
}
#htt{
    position: relative;
    left: 31%;
    bottom: 14%;
}
.htbar{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 38%;
    bottom: 29%;
    /* bottom: 3%; */
        border: 1px solid ;
    /* border-radius: 35%; */
    animation: html 2s normal;
    animation-fill-mode: forwards;
}

#cst{
    position: relative;
    bottom: 15%;
}
.csbar{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 12%;
    bottom: 28%;
    /* bottom: 3%; */
        border: 1px solid ;
    /* border-radius: 35%; */
    animation: css 2s normal;
    animation-fill-mode: forwards;
}
#jst{
    position: relative;
    bottom:  73%;
    left: 57%;
}
.jsbar{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 70%;
    bottom: 89%;
    /* bottom: 3%; */
        border: 1px solid ;
    /* border-radius: 35%; */
    animation: bar 2s normal;
    animation-fill-mode: forwards;
}
.footer{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    font-size: 2vw;
    position: relative;
    background-color: #000;
    width: 100vw;
    height: 12vh;
    border: 1px solid;
    line-height: 1.4;
        /* margin-top: 20%; */
    /* position: absolute; */
}
/* .row{
    border: 1px solid;
} */
#skill{
    height: 30vh;
}
#version{
    color: #fff;
    font-size: 1.1vw;
    margin-left: 58%;
}